certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==43.0.3
-e git+ssh://git@github.com/PotentiallyARobot/EmbeddingAdapters.git@6010657313a468ef86272f02ee05d80f7dc47796#egg=embedding_adapters
filelock==3.19.1
fsspec==2025.10.0
huggingface-hub==0.29.3
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.2.1
numpy==2.0.2
packaging==25.0
pycparser==2.23
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
safetensors==0.7.0
sympy==1.13.1
tokenizers==0.21.4
torch==2.7.1 ; python_version >= "3.9"
tqdm==4.67.1
transformers==4.50.3
typing_extensions==4.15.0
urllib3==2.5.0
